<form action="/api/books/<%= book._id %>?_method=DELETE" method="POST">
  <fieldset>
    <legend>
      <%= book.title %>
    </legend>
    <label>Do you wish to delete <a href="/books/<%= book._id %>" title="return to <%= book.title %>'s page">
        <%= book.title %>
      </a>?
    </label>
    <button type="submit">delete</button>
  </fieldset>

</form>