<article>
  <form action="/books/<%=book._id%>?_method=PATCH" method="POST">
    <fieldset>
      <legend>
        <%=book.title%>: update
      </legend>
      <label for="title">title</label>
      <input type="text" name="title" id="title" value="<%= book.title %>">
      <label for="slug">slug</label>
      <input type="text" name="slug" id="slug" value="<%= book.slug %>">
      <label for="author">author</label>
      <select name="author" id="author">
        <option value="book.author_id" selected>
          <%= book.author.fullname %>
            <% authors.forEach(author=> { %>
        <option value="<%= author._id %>">
          <%= author.fullname%>
        </option>
        <% }) %>
          </option>
      </select>
      <button type="submit">update</button>
    </fieldset>
  </form>
</article>
<article>
  <p>
    <a href="/books/<%= book._id %>">detail</a>
    <a href="/books/<%= book._id %>/delete">delete</a>
  </p>
</article>