<article>
  <h2><a href="/authors">authors</a> <a href="/authors/add">+</a></h2>

  <ul>
    <% authors.forEach(author=> { %>

      <li>
        <a href="/authors/<%= author._id %>">
          <%= author.listname %>
        </a>
      </li>

      <% }) %>
  </ul>
</article>

<article>
  <h2><a href="/books">books</a> <a href="/books/add">+</a></h2>

  <ul>
    <% books.forEach(book=> { %>

      <li>
        <a href="/books/<%= book._id %>">
          <%= book.title %>
        </a>
        by
        <a href="/authors/<%= book.author._id %>">
          <%= book.author.fullname %>
        </a>
      </li>

      <% }) %>
  </ul>
</article>