<h2>
  <%= typeof author.fullname !='undefined' ? author.fullname : 'author name' %>
</h2>
<p><small><a href="/books/add?author=<%= author._id %>">add book</a> <a
      href="/authors/<%= author._id %>/update">update</a> <a href="/authors/<%= author._id %>/delete">delete</a></small>
</p>

<ul>
  <% books.forEach(book=> { %>

    <li><a href="/books/<%= book._id %>">
        <%= book.title %>
      </a></li>

    <% }) %>
</ul>